# PostgreSQL - Development
POSTGRES_DB=manual-release_api_dev
POSTGRES_USER=manual_release
POSTGRES_PASSWORD=dev_7Kx9pL2mQ8vR4nT6

# PostgreSQL host port
POSTGRES_PORT=5432

# Docker volume name
# POSTGRES_VOLUME_NAME=manual_release_api_postgres_dev